body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url("fondo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center
}

img {
  margin-top: 10px;
  width: 150px;
  height: 120px;
}

.recuadro {
  height: 150px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: white;
  width: 570px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: smaller;
  padding-block: 27px;
  padding-top: 47px;
}

.siguiente {
  margin-top: 5px;
  background-color: rosybrown;
}

.container {
  height: auto;
  margin: 0 auto;
  margin-top: 120px;
  border-radius: 6%;
  background-color: white;
  width: 650px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: smaller;
  padding-top: 27px;
}

.texto {
  margin-top: 25px;
  text-align: left;
  padding-left: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.caja {
  width: 555px;
  height: 20px;
  margin-top: 10px;
  border-radius: 20px;
  padding: 4px;
  border-width: 1px;
  border-color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 90%;
}

#cvc {
  margin-left: 254px;
}

.cajita {
  width: 220px;
  height: 20px;
  margin-top: 10px;
  border-radius: 20px;
  padding: 4px;
  border-width: 1px;
  border-color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 90%;
}

#cajitacvc {
  margin-left: 100px;
}

.boton {
  margin-left: 395px;
  border-radius: 20px;
  border-width: 0px;
  padding: 9px 14px;
}

#aceptar {
  margin-left: 5px;
  border-radius: 20px;
  border-width: 0px;
  padding: 9px 14px;
  background-color: rosybrown;
}

.modal-tarjeta {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}

.modal-tarjeta-contenido {
  background-color: #fefefe;
  margin: 15% auto;
  margin-top: 270px;
  padding: 50px;
  height: 70px;
  width: 20%;
  border-radius: 37px;
  padding-top: 4%;
}

.cerrar-modal-tarjeta {
  border-radius: 17px;
  padding: 9px 14px;
  background-color: rosybrown;
  float: right;
  margin-left: 4px;
}

.cerrar-modal-tarjeta:hover,
.cerrar-modal-tarjeta:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}